.m-center {
  width: fit-content;
  margin-inline: auto;
}
.border {
  border: #dcdfe6 1px solid;
}
.border-dash {
  border: #dcdfe6 2px dashed;
}
.shadow {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
}
.shadow-light {
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}

// Size
$-wh: 25, 50, 75, 100;
@each $item in$-wh {
  .w-#{$item} {
    width: #{$item}+ "%";
  }
  .min-w-#{$item} {
    min-width: #{$item}+ "%";
  }
  .max-w-#{$item} {
    max-width: #{$item}+ "%";
  }
  .h-#{$item} {
    height: #{$item}+ "%";
  }
  .min-h-#{$item} {
    min-height: #{$item}+ "%";
  }
  .max-h-#{$item} {
    max-height: #{$item}+ "%";
  }
  .wh-#{$item} {
    width: #{$item}+ "%";
    height: #{$item}+ "%";
  }
  .min-wh-#{$item} {
    min-width: #{$item}+ "%";
    min-height: #{$item}+ "%";
  }
  .max-wh-#{$item} {
    max-width: #{$item}+ "%";
    max-height: #{$item}+ "%";
  }
}

// Padding & margin
$-spas: "p", "m";
@each $spa in $-spas {
  $var: if($spa == "p", "padding", "margin");
  @for $i from 0 through 3 {
    $length: $i * 0.5rem;

    // rules
    .#{$spa}-#{$i} {
      #{$var}: $length !important;
    }
    .#{$spa}x-#{$i} {
      #{$var}-inline: $length;
    }
    .#{$spa}y-#{$i} {
      #{$var}-block: $length;
    }
    .#{$spa}t-#{$i} {
      #{$var}-top: $length !important;
    }
    .#{$spa}r-#{$i} {
      #{$var}-right: $length !important;
    }
    .#{$spa}b-#{$i} {
      #{$var}-bottom: $length;
    }
    .#{$spa}l-#{$i} {
      #{$var}-left: $length;
    }
  }
}
