// ======================颜色
$primary: #409eff;
$success: #67c23a;
$warning: #e6a23c;
$danger: #f56c6c;
$info: #909399;

$dark-fill: #ebedf0;

$tiga: #4459ff;
$vite: #646cff;
$vue: rgb(16, 185, 129);
$react: #61dafb;
